<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>DonkeyDokie</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/CSS/lib/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/CSS/lib/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/CSS/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body id="posts_app">

  <dd-header v-bind:url="url"></dd-header>
  <dd-side-nav :user="userInfo"></dd-side-nav>
  
  <div class="content">

    <div class="row">
        <div class="col s6">
            <span class="sub_title">My Posts</span>
        </div>
        <div class="col s6">
            <dd-search></dd-search>
        </div>
    </div>

    <div class="nav-content">
        <ul class="tabs tabs-transparent">
          <li class="tab"><a class="active" href="javascript:void(0)" @click="changeStatus(1)">Open Trips</a></li>
          <li class="tab"><a href="javascript:void(0)" @click="changeStatus(0)">Closed Trips</a></li>
        </ul>
    </div>

    <ul class="collapsible">
      <li v-for="trip in showing_trips">
          <div class="collapsible-header"><i class="material-icons">{{trip.TravelStyleIcon}}</i>{{trip.Title}}</div>
          <div class="collapsible-body  relative">
            <dd-detail v-bind:trip="trip"></dd-detail>
              <br>
              <a class="modal-action waves-effect waves-light btn blue lighten-2" style="margin-top: 10px; margin-bottom: 10px; display: {{trip.display_open}}" href="javascript:void(0)" @click="showApplicants(trip.TripID)">Applicants</a>
              <div class="fixed-action-btn horizontal absolute">
                  <a class="btn-floating btn-large blue">
                    <i class="large material-icons">mode_edit</i>
                  </a>
                  <ul>
                    <li><a class="btn-floating green" href="javascript:void(0)" @click="onCloseOpen(trip.TripID)" style="display: {{trip.display_open}}"><i class="material-icons">lock</i></a></li>
                    <li><a class="btn-floating yellow darken-1" href="javascript:void(0)" @click="onEditOpen(trip.TripID)" style="display: {{trip.display_open}}"><i class="material-icons">mode_edit</i></a></li>
                    <li><a class="btn-floating red" href="javascript:void(0)" @click="onDeleteOpen(trip.TripID)" style="display: {{trip.display_open}}"><i class="material-icons">delete_forever</i></a></li>
                    <li><a class="btn-floating pink" href="javascript:void(0)" @click="onOpenOpen(trip.TripID)" style="display: {{trip.display_close}}"><i class="material-icons">lock_open</i></a></li>
                  </ul>
              </div>
            </div>
      </li>
  </ul>

  <div id="modal-applicants" class="modal">
        <div class="modal-content">
            <div class="row">
              <ul class="collection">
                <li class="collection-item avatar" v-for="applicant in applicants">
                    <img src="static/images/head.jpg" alt="" class="circle header">
                    <span class="title text-grey">{{applicant.Name}}</span>
                    <p>
                      {{applicant.Message}}
                    </p>
                    <a href="javascript:void(0)" class="btn-flat blue lighten-2" @click="acceptApplicant(applicant.UserID)">Accept</a>
                    <a href="javascript:void(0)" class="btn-flat blue lighten-2" @click="denyApplicant(applicant.UserID)">Deny</a>
                  </li>
              </ul>
            </div>
        </div>
        <div class="modal-footer">
            <a href="javascript:void(0)" class="btn-flat blue lighten-2" @click="onApplicantsClose">Close</a>
        </div>
    </div>

  <div id="modal-delete" class="modal">
      <div class="modal-content">
          <div class="row">
            <span>Are you sure you want to delete this trip?</span>
          </div>
      </div>
      <div class="modal-footer">
          <a href="javascript:void(0)" class="btn-flat blue lighten-2" @click="deleteTrip">Delete</a>
          <a href="javascript:void(0)" class="btn-flat blue lighten-2" @click="onDeleteCancel">Cancel</a>
      </div>
  </div>

  <div id="modal-open" class="modal">
    <div class="modal-content">
        <div class="row">
          <span>Are you sure you want to reopen this trip?</span>
        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class="btn-flat blue lighten-2" @click="openTrip">Reopen it</a>
        <a href="javascript:void(0)" class="btn-flat blue lighten-2" @click="onOpenCancel">Cancel</a>
    </div>
</div>

  <div id="modal-close" class="modal">
    <div class="modal-content">
        <div class="row">
          <span>Are you sure you want to close this trip?</span>
        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class="btn-flat blue lighten-2" @click="closeTrip">Close it</a>
        <a href="javascript:void(0)" class="btn-flat blue lighten-2" @click="onCloseCancel">Cancel</a>
    </div>
</div>

  <div id="modal-edit" class="modal">
      <div class="modal-content">
          <div class="row">
              <div class="input-field col s6">
                  <input id="edit_start_day" placeholder="Placeholder" type="text" class="datepicker" v-model="on_edit_trip.StartDate">
                  <label for="start_day" data-error="wrong" data-success="right">Start Day</label>
              </div>
              <div class="input-field col s6">
                    <input id="edit_notes" placeholder="Placeholder" type="text" class="validate" v-model="on_edit_trip.Length" value={{on_edit_trip.Length}}>
                    <label for="days" data-error="wrong" data-success="right">Days</label>
                </div>
                <div class="input-field col s6">
                        <input id="edit_notes" placeholder="Placeholder" type="text" class="validate" v-model="on_edit_trip.Location" value={{on_edit_trip.Location}}>
                        <label for="locations" data-error="wrong" data-success="right">Location</label>
                    </div>
              <div class="input-field col s6">
                  <input id="edit_travel_style" placeholder="Placeholder" type="text" class="validate" v-model="on_edit_trip.TravelStyleID" value={{on_edit_trip.TravelStyleID}}>
                  <label for="travel_style" data-error="wrong" data-success="right">Travel Style</label>
              </div>
              <div class="input-field col s6">
                  <input id="edit_description" placeholder="Placeholder" type="text" class="validate" v-model="on_edit_trip.TripDescription" value={{on_edit_trip.TripDescription}}>
                  <label for="description" data-error="wrong" data-success="right">Description</label>
              </div>
              <div class="input-field col s6">
                  <input id="edit_length" placeholder="Placeholder" type="text" class="validate" v-model="on_edit_trip.Length" value={{on_edit_trip.Length}}>
                  <label for="length" data-error="wrong" data-success="right">Length</label>
              </div>
              <div class="input-field col s6">
                  <input id="edit_notes" placeholder="Placeholder" type="text" class="validate" v-model="on_edit_trip.Remarks" value={{on_edit_trip.Remarks}}>
                  <label for="notes" data-error="wrong" data-success="right">Notes</label>
              </div>
              <div class="input-field col s6">
                  <input id="edit_requirements" placeholder="Placeholder" type="text" class="validate" v-model="on_edit_trip.Requirements" value={{on_edit_trip.Requirements}}>
                  <label for="requirements" data-error="wrong" data-success="right">Requirements</label>
              </div>
              <div class="input-field col s6">
                  <input id="edit_budget" placeholder="Placeholder" type="text" class="validate" v-model="on_edit_trip.Budget" value={{on_edit_trip.Budget}}>
                  <label for="budget" data-error="wrong" data-success="right">Budget</label>
              </div>
              <div class="input-field col m6 s12">
                    <form action="#">
                        <div class="file-field input-field">
                        <div class="btn">
                            <span>Upload Image</span>
                            <input type="file" id="postImage">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                        </div>
                    </form>
                </div>
          </div>
      </div>
      <div class="modal-footer">
          <a href="javascript:void(0)" class="btn-flat blue lighten-2" @click="editTrip">Submit</a>
          <a href="javascript:void(0)" class="btn-flat blue lighten-2" @click="onEditCancel">Cancel</a>
      </div>
  </div>

  <div id="modal-message" class="modal">
        <div class="modal-content">
            <div class="row">
                <span>{{message}}</span>
            </div>
        </div>
        <div class="modal-footer">
            <a href="javascript:void(0)" class="btn-flat blue lighten-2" @click="onCloseMessage">Ok</a>
        </div>
    </div>

</div>

<dd-footer></dd-footer>

<script src="static/js/lib/vue.min.js"></script>
<script src="static/js/lib/jquery.min.js"></script>
<script src="static/js/lib/materialize.min.js"></script>
<script src="static/js/lib/materialize.js"></script>
<script src="static/js/lib/init.js"></script>

<script src="static/js/components/dd_header.js"></script>
<script src="static/js/components/dd_side_nav.js"></script>
<script src="static/js/components/dd_footer.js"></script>
<script src="static/js/components/dd_search.js"></script>
<script src="static/js/components/dd_trip_detail.js"></script>

<script src="static/js/controllers/posts.js"></script>

</body>
</html>

